SECRET_KEY="your-secret-key"
SECRET_KEY_REFRESH="your-refresh-secret"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="xxxxx"
POSTGRES_DB="gov_platform"
SMTP_HOST="smtp.gmail.com"
SMTP_PORT="587"
SMTP_SECURE="false"

SMTP_USER="aaaaaaaa@gmail.com"
SMTP_PASSWORD="xxxxxxxxxxxxxx"

SMTP_FROM="Olex-TN <aaaaaaaaaa@gmail.com>"
FRONTEND_URL="http://localhost:3000"